@font-face {
    font-family: roboto;
    src: url(Fonts/Roboto-Regular.ttf);
  }

*{
    font-family: roboto;
}

button{
    border-width: 0;
    background-color: rgb(210, 229, 255);
    box-shadow: 0px 1px 2px rgb(75, 111, 126);
}
button:hover{
    border-width: 0;
    background-color: rgb(200, 222, 255);
    box-shadow: 1px 1px 3px rgb(75, 111, 126);
    transition: 0.3s;
}

button:active{
    border-width: 0;
    background-color: rgb(184, 212, 255);
    box-shadow: 2px 1px 4px rgb(75, 111, 126);
    transition: 0.1s;
}

body{
    margin: 0px;
    background-color: rgb(245, 249, 255);
}

.pupilName{
    display: inline-block;
}

.Header{
    display: flex;
}

.MainArea{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.MainAreaDiv1, .MainAreaDiv2, .MainAreaDiv3{
    flex: 1;
    display: flex;
    justify-content: space-around;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.NameListMainDiv, .randomNameDiv, .NameListNames{
    width: 500px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
.CenterElements{
    display: flex;
    justify-content: space-around;
}

.NameAddDiv{
    margin-top: 15px;
    display: flex;
}

#nameInput{
    margin-left: 10px;
    margin-right: 10px;
    flex: 1px;
}

#nameConfirm{
    width: 100px;
    margin-right: 10px;
}
#nameArea{
    height: 100%;
    overflow-y: hidden;
    margin-top: 10px;
}
#nameArea:hover{
    transition: 1s;
    overflow-y: scroll  ;
}

.UploadButton{
    width: 100px;
}
.pupilDiv, .classButton{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
}
.pupilRemoveButton{
    height: 40px;
}

.downloadButton{
    height: 50px;
}

#randomNameButton{
    margin-top:10px;
    width: 100%;
    height: 50px;
}
.previousNames{
    padding-top:10px;
    padding-bottom:10px;
    border-width: 0px;
    font-size: 20px;
    border-top-width: 1px;
    border-style: solid;
    text-align: center;
}

.sectionTitle{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#chosenRandomName{
    height:10px;
    text-align: center;
}

#lastRandomNames > p{
    text-align: center;
}

#lastRandomNames{
    height: 100vh;
    overflow-y: hidden;
}

#NewClassButton{
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}